nav.navbar .navbar-logo {
    height: 3rem;
}

nav.navbar .nav-item {
    margin: 0 3rem
}

/*此处覆盖bricklayer.css中的设置，自定义瀑布流显示的列数*/
/*注意，若要覆盖bricklayer.css中的设置，在_Layout.cshtml中，引用site.css必须放在引用bricklayer.css的后面。*/
@media screen and (min-width: 768px) {
    .bricklayer-column-sizer {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .bricklayer-column-sizer {
        width: 33.333%;
    }
}


.admin-photos-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.h4-inline {
    display: inline;
}

.light {
    --primary: hsl(250, 100%, 44%);
    --other: hsl(0, 0%, 14%);
    background: hsl(0, 0%, 98%);
}

.dark {
    --primary: hsl(1, 100%, 68%);
    --other: hsl(0, 0%, 90%);
    background: hsl(0, 0%, 10%);
}


/* h1 */
h1 {
    color: var(--other);
    padding: 8px 4px;
    border-bottom: 2px solid var(--other);
}

label.select-image{
    cursor:pointer;
}

div.custom-radio{
    top:4%;
    left:10%;
}