nav.navbar .navbar-logo {
    height: 3rem;
}

nav.navbar .nav-item {
    margin: 0 3rem
}

/*此处覆盖bricklayer.css中的设置，自定义瀑布流显示的列数*/
/*注意，若要覆盖bricklayer.css中的设置，在_Layout.cshtml中，引用site.css必须放在引用bricklayer.css的后面。*/
@media screen and (min-width: 768px) {
    .bricklayer-column-sizer {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .bricklayer-column-sizer {
        width: 33.333%;
    }
}


.admin-photos-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.h4-inline {
    display: inline;
}




label.select-image{
    cursor:pointer;
}

div.custom-radio{
    top:4%;
    left:10%;
}

div.body-margin-top{
    margin-top:72px;
}

a.a-pointer {
    cursor: pointer;
}