@using PhotographyWebAppCore.Models
@model List<Album>

<h1>相册</h1>

<h4 class="float-left mt-1">当前所有相册</h4>
<div class="text-right pt-0">
    <a asp-action="CreateOne" class="btn btn-primary text-center">+ 创建新相册</a>
</div>
<hr />
@if (Model != null && Model.Count() > 0)
{
    @foreach (Album album in Model)
    {
        <div class="col-md-10 mx-auto">
            <div class="card text-center my-5">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <form method="get">
                                <button class="btn btn-outline-primary btn-sm" name="id" value="@album.Id" asp-action="UpdateCategory">编辑</button>
                            </form>
                        </li>
                        <li class="nav-item mx-3">
                            <form method="post">
                                <button class="btn btn-outline-danger btn-sm" name="id" value="@album.Id" asp-action="DeleteCategory">删除</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="card-body row">
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <img src="/@album.CoverPhoto.Path_Small" class="img-fluid"/>
                    </div>
                    <div class="col-9">
                        <h5 class="card-title">@album.Title</h5>
                        <p class="card-text text-left">@album.Description</p>
                        <p class="card-text text-left my-0"><small class="text-muted">类型：@album.Category.Name</small></p>
                        @{
                            int photocount = (album.Photos == null) ? 0 : album.Photos.Count;
                        }
                        <p class="card-text text-left my-0"><small class="text-muted">照片数量：@photocount</small></p>
                        <p class="card-text text-left my-0"><small class="text-muted">创建时间：@album.CreatedDateTime.ToLocalTime()</small></p>
                        <p class="card-text text-left my-0"><small class="text-muted">更新时间：@album.LastUpdate.ToLocalTime()</small></p>
                    </div>

                </div>

                @if (photocount > 0)
                {
                    <div class="card-footer">

                        <div class="row">
                            @foreach (Photo photo in album.Photos)
                            {
                                <div class="col-md-2">
                                    <img src="/@photo.Path_Small" class="img-thumbnail" />
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}

