@using PhotographyWebAppCore.Models
@{
    PhotoCategory category = ViewBag.Category;
}


<div class="jumbotron background-image">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="/@category.CoverPhoto.Path_Middle" class="img-fluid" />
        </div>
        <div class="col-md-8 ">
            <h1 class="display-4">@category.Name</h1>
            <p class="lead">@category.Description</p>
            <hr class="my-4">
            <p>现在预定享受7折优惠！快来看看近期优惠套餐!</p>
            <a class="btn btn-primary btn" href="#" role="button">查看套餐</a>
        </div>
    </div>
    @*<img src="https://wallsdesk.com/wp-content/uploads/2016/11/Winter-Girl-Computer-Wallpaper.jpg" class="category-background" />*@
</div>