<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Administrator</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bricklayer/bricklayer.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="#">
                <img src="~/images/logo.png" alt="logo" class="navbar-logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Admin" asp-action="Index">主页</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            内容管理
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="AdminPhoto" asp-action="Index">照片</a>
                            <a class="dropdown-item" asp-controller="AdminAlbum" asp-action="Index">相册</a>
                            <a class="dropdown-item" asp-controller="Admin" asp-action="Category">类型</a>
                            <a class="dropdown-item" href="#">摄影师</a>
                        </div>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="#">优惠套餐</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">在线服务</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">走进摄影师</a>
                        </li>*@
                </ul>
                <a class="btn btn-outline-danger my-2 my-sm-0" asp-controller="Admin" asp-action="Logout">退出</a>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bricklayer/bricklayer.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts",required:false)
</body>
</html>
