@*@addTagHelper*, PhotographyWebAppCore*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhotographyWebAppCore</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bricklayer/bricklayer.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="fixed-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a href="#">
                <img src="~/images/logo.png" alt="logo" class="navbar-logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <vc:header-menu></vc:header-menu>
        </nav>
    </header>
    @*<div class="container">
        <main role="main" class="pb-3">*@
    @RenderBody()


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GuoGuo Photography Studio- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bricklayer/bricklayer.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
